.container {
	width: 800px;
}

.homeintro {
	width:100%;
	font-size:130%;
	text-align:center;
	
	
}

body {
	
	background: rgb(51,51,51); /* for browsers that won't render the gradiant */
	
	  background:  -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.9, rgb(51,51,51)),
      color-stop(1, rgb(104,0,0)));	
    
	background: -moz-linear-gradient(
      center bottom,
      rgb(51,51,51) 90%,
      rgb(104,0,0) 100%);
	  	  
	  height:1000px;
	  overflow:hidden;
	  background-repeat:no-repeat;
	  
	  
}





header {
	padding-top: 20px;
}

header img {
	padding: 1em;
	background:inherit;
	/*background will inherit once transparent gif added*/
}

section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background:rgb(75,75,75);
	border-color:black;
	border:solid;
	
	/*
	background: inherit;
	border:groove;
	border-color:black;
	*/
}

/*Links*/
a {
	color: rgb(104,0,0);
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;
	color: #069;
}

a:visited {
	color: rgp(104,0,0)
}

/*Navigation*/
nav {
	float: right;
	background: white;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul{
	margin: 0;
	padding: 0;
}
nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0	;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
}

nav ul li a:visited {
	color: 09c;
}

nav ul li a:hover {
	text-decoration: underline;
}

/*Buttons
a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 190px;
	color: #fff;
	background: #006400;
	font-size; 150%;
	font-weight: bold;
	padding: 20px;
}   */

/* slick-black-mod buttons */
.slick-black {
  background: #111;
  background: -moz-linear-gradient(top,
              rgba(50, 50, 50, 0.9) 0%,
              rgba(30, 30, 30, 0.9) 50%,
              rgba(20, 20, 20, 0.9) 50%,
              rgba(0, 0, 0, 0.9) 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%,
              color-stop(0, rgba(50, 50, 50, 0.9)),
              color-stop(0.5, rgba(30, 30, 30, 0.9)),
              color-stop(0.5, rgba(20, 20, 20, 0.9)),
              color-stop(1, rgba(0, 0, 0, 0.9)));
  border: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
  -webkit-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
  box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
  color: white;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  line-height: 1;
  padding: 12px 0;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, .8), 0 1px 1px rgba(255, 255, 255, 0.3);
  width: 45%;
     
}

.slick-black:hover {
  background: #222;
  background: -moz-linear-gradient(top,
              rgba(70, 70, 70, 0.9) 0%,
              rgba(50, 50, 50, 0.9) 50%,
              rgba(40, 40, 40, 0.9) 50%,
              rgba(20, 20, 20, 0.9) 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%,
              color-stop(0, rgba(70, 70, 70, 0.9)),
              color-stop(0.5, rgba(50, 50, 50, 0.9)),
              color-stop(0.5, rgba(40, 40, 40, 0.9)),
              color-stop(1, rgba(20, 20, 20, 0.9)));
  cursor: pointer;
}

.slick-black:active {
  background: #000;
  background: -moz-linear-gradient(top,
              rgba(30, 30, 30, 0.9) 0%,
              rgba(20, 20, 20, 0.9) 50%,
              rgba(10, 10, 10, 0.9) 50%,
              rgba(0, 0, 0, 0.9) 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%,
              color-stop(0, rgba(30, 30, 30, 0.9)),
              color-stop(0.5, rgba(20, 20, 20, 0.9)),
              color-stop(0.5, rgba(10, 10, 10, 0.9)),
              color-stop(1, rgba(0, 0, 0, 0.9)));
}

a.deny_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 40%;
	color: #fff;
	background: black;
	font-size; 130%;
	font-weight: 400;
	padding: 10px;
}  

a.confirm_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 50%;
	color: #fff;
	background: rgb(104,0,0);
	font-size; 150%;
	font-weight: 600;
	padding: 15px;
}  

.center-button {
  margin-left: auto;
  margin-right: auto;
  display: block;	
}


/* Round corners */

 .round {
 	-moz-border-radius; 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
 }
 
 /* Footer */
footer {
	text-align: center;
	margin-top: 10px;
	width: 710px;
	margin-left: auto;
	margin-right: auto;
}

footer nav {
	float: none;
}
