<h1><center>Welcome!</center></h1>
<p class="homeintro">
Welcome to the pass list website, intended for coaches <br> and athletes to quickly and easily 
place a comp ticket request.</p>

<%= link_to "I am NOT a UCM Athletics coach or athlete", 'http://google.com', :class => "deny_button round"%>
<br>
<%= link_to "I AM a UCM Athletics coach or athlete", requests_path, :class => "confirm_button round"%>
<br><br>

   
