<h1><center>Welcome!</center></h1>
<p class="homeintro">
Welcome to the pass list website, intended for coaches <br> and athletes to quickly and easily 
place a comp ticket request.</p>

<%= link_to "I am NOT a UCM Athletics coach or athlete", 'http://www.google.com/search?hl=en&q=puppies&um=1&ie=UTF-8&tbm=isch&source=og&sa=N&tab=wi&biw=1034&bih=751', :class => "slick-black center-button"%>
<br>
<%= link_to "I AM a UCM Athletics coach or athlete", requests_path, :class => "slick-black center-button"%>

<!-- later new_request_path -->
