	<header>

	<%= link_to logo, root_path %>

		
	<!-- top nav bar 
	<nav class="round">
		<ul>
			<li><%= link_to "Top", '#' %></li>
			<li><%= link_to "Nav", '#' %></li>
			<li><%= link_to "Links?", '#' %></li>
		</ul>
	</nav>
-->
	</header>
	