	<header>

	<%= image_tag("logo.gif", :alt => "<Top-left logo>", :class => "round") %>

		
	<nav class="round">
		<ul>
			<li><%= link_to "Top", '#' %></li>
			<li><%= link_to "Nav", '#' %></li>
			<li><%= link_to "Links?", '#' %></li>
		</ul>
	</nav>

	</header>